body {
    font-family: circular-spotify-ui,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:100vh;
    padding:0;
    margin:0;
}

.donate{
    text-decoration: none !important;
    color: white !important;
    font-weight: bold !important;
}

@keyframes expanding {
    from {
        r:2;
        opacity: .8;
    }
    to {
        r:70;
        opacity: 0;
    }
}

body {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:100vh;
    padding:0;
    margin:0;
}

circle {
    fill: aqua;
    animation: expanding 2s ease-out infinite;
}

#c2 {
    animation-delay: .5s;
}

#c3 {
    animation-delay: 1s;
}
